<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfLab053.Properties.Settings.ProyectosConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=Proyectos;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>