<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="urlGoogle" value="http://www.google.com.ar"/>
	</appSettings>
	<connectionStrings>
		<add name="ConeSicopAdm" connectionString="server=XXXX;initial catalog=Sicop3;Integrated Security=SSPI; Pooling=true; Min Pool Size= 10; Max Pool Size = 200;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<httpRuntime maxRequestLength="102400" executionTimeout="36000" maxQueryStringLength="2048"/>
		<sessionState mode="InProc" cookieless="false" timeout="18" stateNetworkTimeout="1080"/>
		<globalization culture="es-AR" uiCulture="es-AR"/>
		<compilation debug="true" targetFramework="4.0"/>
		<!--<customErrors mode="Off" defaultRedirect="Errores/Error.aspx"></customErrors> -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<!-- <add tagPrefix="uc1" src="~/User Controls/resultado.ascx" tagName="resultado"/> -->
			</controls>
		</pages>
	</system.web>
</configuration>
