<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WFLinq.Properties.Settings.ProyectosConnectionString1"
            connectionString="Data Source=VICTOR-HP\SQLEXPRESS12;Initial Catalog=Proyectos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>