@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Cuenta bloqueada";
}

<hgroup class="title">
    <h1 class="error">@Page.Title.</h1>
    <h2 class="error">La cuenta se bloqueó porque se realizaron demasiados intentos de inicio de sesión no válidos.</h2>
</hgroup>

<p>
    No se preocupe, la cuenta se desbloqueará automáticamente en 60 segundos. 
    Vuelva a intentarlo una vez transcurrido ese tiempo.
</p>