@{
    // Establecer la página de diseño y el título de página
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Error de inicio de sesión";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>El inicio de sesión con el servicio no se ha llevado a cabo correctamente.</h2>
</hgroup>
