@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IronMan</h1>
    <p class="lead"></p>
    <p><a href="" class="btn btn-primary btn-large">Contacto &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Eventos</h2>
        <p>
            Calendario de todos los eventos atléticos previstos en los próximos meses.
        </p>
        <p><a class="btn btn-default" href="~/Eventos">Ver Eventos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pruebas</h2>
        <p>Por cada evento se muestran las pruebas a las pueden participar.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Participantes</h2>
        <p>Listado de Participantes.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>