<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MotocrossContainer" connectionString="metadata=res://*/Motocross.csdl|res://*/Motocross.ssdl|res://*/Motocross.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VICTOR-HP;initial catalog=Motocross;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>